
/* header and footer styles */
.nav_bar {
    border-radius: 10px;
    background: var(--Light-Blue-Design, #E6F6FE);
    box-shadow: 0px 4px 1.9px 0px rgba(0, 0, 0, 0.05);
}

.nav_link {
    font-size: 16px;
    font-weight: 500;
    color: #011632;
}

.nav_link_footer {
    font-weight: 600;
    font-size: 16px;

}

.footer_num {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.footer_address{
    font-weight: 400;
    font-size: 16px;
}

hr{
    height: 2px;
    background: #011632;
}

@media (min-width: 992px) {
    .nav_bar {
        margin-top: 52px;
        margin-right: 80px;
        margin-left: 80px;
    }

    nav {
        height: 90px;
    }
    .footer_get_2{
        padding-left: 74px;
    }

    .footer_social{
        justify-content: end;
        margin-right: 60px;
    }
}

@media (max-width: 992px) {
    .footer_social{
        justify-content: center;
    }
    .footer_get2{
        margin-top: 30px;
    }
}


.nav_btn {
    display: flex;
    /* width: 224px;
    height: 61px;
    padding: 18px 33px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 62px;
    background: linear-gradient(94deg, #2C3EE2 7.44%, #C6B1FA 126.52%, #7A69FE 126.53%);
}

/* end */




/*================================= About Page ================================= */
.head_about {
    color: var(--Dark-Blue-Design, #011632);
text-align: center;
font-size: 62px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 74.4px */
letter-spacing: -1.24px;
text-transform: capitalize;
}
.mission_heading {
    color: var(--Dark-Blue-Design, #011632);
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 52.5px */
text-transform: capitalize;
}
.mission_para {
    color: var(--Body-text, #3C4959);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.27px;
}
.mission2_head {
    color: var(--Dark-Blue-Design, #011632);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal; /* 28.8px */
text-transform: capitalize;
}
.mission2_para {
    color: var(--Body-text, #3C4959);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.27px;
}
.meet_heading {
    color: var(--Dark-Blue-Design, #011632);
text-align: center;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 52.5px */
text-transform: capitalize;
}
.meet_para {
    color: var(--Body-text, #3C4959);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.27px;
}
.doc_name {
    color: var(--Dark-Blue-Design, #011632);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 28.8px */
text-transform: capitalize;
}
.doc_designation {
    color: var(--Dark-Blue-Design, #011632);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 76%; /* 12.16px */
letter-spacing: 0.24px;
}
.doc1_para {
    color: var(--Body-text, #3C4959);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.27px;
}
.doc_button {
    color: var(--Secondary-color, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 155%; /* 24.8px */
letter-spacing: 0.24px;
border-radius: 10px;
background: #009DDE;
display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
border-width: 0px;
}
.latest_heading {
    color: var(--Dark-Blue-Design, #011632);
text-align: center;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 52.5px */
text-transform: capitalize;
}
.latest_para{
    color: var(--Body-text, #3C4959);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.27px;
}
.future_heading {
    color: var(--Dark-Blue-Design, #011632);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 28.8px */
text-transform: capitalize;
}
.future_para {
    color: var(--Body-text, #3C4959);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.27px;
}
.welcoming_heading {
    color: var(--Dark-Blue-Design, #011632);
text-align: center;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 52.5px */
text-transform: capitalize;
}
.welcoming_para {
    color: var(--Body-text, #3C4959);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.27px;
}

/*============================ Contact page ====================== */
.contact_about{
    color: var(--Dark-Blue-Design, #011632);
text-align: center;
font-size: 62px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 74.4px */
letter-spacing: -1.24px;
text-transform: capitalize;
}
.contact_para {
    color: var(--Body-text, #3C4959);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.27px;
}
.map {
    width: 503px;
height: 325px;
flex-shrink: 0;
border-radius: 10px;
border: 2px solid var(--Sky-blue-Design, #25B4F8);
}